.banner {
    /* background: #6B6B6B; */
    background: url('../../assets/pic/bg1.png');
    background-position: bottom;
    background-size: cover;
    border: 2px solid;
    min-height: 100vh;
    height: 100vh;
}

.build {
    border: 1px solid;
    height: 20%;
    /* background: #b380d1; */
}

.build-border {
    background: #b380d1;
    height: 90%;
}

.car {
    background: #8D8D8D;
    height: 15%;
}

@media screen and (min-width: 640px) {
    .banner {
        /* background: #000; */
        min-height: 130vh;
    }
}

@media screen and (min-width: 768px) {
    .banner {
        /* background: #f00; */
        min-height: 1060px;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        /* background: #f0f; */
        min-height: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        /* background: #ff0; */
        min-height: 1400px;
    }
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}